Windows/NbfcClient/Service References/NbfcService/StagWare.FanControl.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StagWare.FanControl.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StagWare.FanControl.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FanControlInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="FanStatus" nillable="true" type="tns:ArrayOfFanStatus" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="SelectedConfig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="TemperatureSourceDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanControlInfo" nillable="true" type="tns:FanControlInfo" />
  <xs:complexType name="ArrayOfFanStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FanStatus" nillable="true" type="tns:FanStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFanStatus" nillable="true" type="tns:ArrayOfFanStatus" />
  <xs:complexType name="FanStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoControlEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="CriticalModeEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="CurrentFanSpeed" type="xs:float" />
      <xs:element minOccurs="0" name="FanDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanSpeedSteps" type="xs:int" />
      <xs:element minOccurs="0" name="TargetFanSpeed" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanStatus" nillable="true" type="tns:FanStatus" />
</xs:schema>