Core/NbfcCli/Service References/NbfcService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FanControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IFanControlService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StagWare.FanControl.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFanControlService_SetTargetFanSpeed_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTargetFanSpeed" />
  </wsdl:message>
  <wsdl:message name="IFanControlService_GetFanControlInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFanControlInfo" />
  </wsdl:message>
  <wsdl:message name="IFanControlService_GetFanControlInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFanControlInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFanControlService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IFanControlService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IFanControlService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IFanControlService_SetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfig" />
  </wsdl:message>
  <wsdl:portType name="IFanControlService">
    <wsdl:operation name="SetTargetFanSpeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanControlService/SetTargetFanSpeed" message="tns:IFanControlService_SetTargetFanSpeed_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFanControlInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanControlService/GetFanControlInfo" message="tns:IFanControlService_GetFanControlInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanControlService/GetFanControlInfoResponse" message="tns:IFanControlService_GetFanControlInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanControlService/Start" message="tns:IFanControlService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanControlService/StartResponse" message="tns:IFanControlService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanControlService/Stop" message="tns:IFanControlService_Stop_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanControlService/SetConfig" message="tns:IFanControlService_SetConfig_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IFanControlService" type="tns:IFanControlService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IFanControlService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="SetTargetFanSpeed">
      <soap12:operation soapAction="http://tempuri.org/IFanControlService/SetTargetFanSpeed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFanControlInfo">
      <soap12:operation soapAction="http://tempuri.org/IFanControlService/GetFanControlInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IFanControlService/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IFanControlService/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetConfig">
      <soap12:operation soapAction="http://tempuri.org/IFanControlService/SetConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FanControlService">
    <wsdl:port name="NetNamedPipeBinding_IFanControlService" binding="tns:NetNamedPipeBinding_IFanControlService">
      <soap12:address location="net.pipe://localhost/StagWare.FanControl.Service/FanControlService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/StagWare.FanControl.Service/FanControlService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>